* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #F9F9F9;
}

.container {
    max-width: 1200px;
    margin: auto;
}

#product-catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card h3 {
    margin-top: 10px;
}

.product-card p {
    color: #666;
}

.product-card:hover {
    transform: scale(1.05);
}

#cart-container ul {
    list-style-type: none;
    padding-left: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

#product-details-modal,
#checkout-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
}

#checkout-page form input[type="text"],
#checkout-page form input[type="email"],
#checkout-page form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#checkout-page form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout-page form button:hover {
    background-color: #0056b3;
}